.edgetop
  .wrap
    %h3.section_title My beats
  = render 'beats/track_row', :beats => @my_beats

.edge

.wrap
  %h3.section_title My tracks
- if @tracks.any?
  %ul.tracks
    - @tracks.each do |track|
      %li.track_row
        .wrap
          %ul.track_list_items
            %li= track.name
            %li= track.beat.name
            %li=link_to '', track.track, class: 'track_preview'
            %li=link_to 'Show', track_path(track), class: 'button_big'
- else
  %p You don't have any tracks right now
