.wrap
  %h3.section_title Record a track

  %canvas#speakerl
  %canvas#rightway
  %canvas#speakerr
  %canvas#wrongway

  %button{:onclick => "startRecording(this);"} record
  %button{:onclick => "stopRecording(this); disabled"} stop
  %h3.section_title Your Recordings
  %ul#recordslist

#debug

:javascript
  recordTrack("#{@beat.beat.url}");
