.wrap
  %h3.section_title Record a track

  .theawesomeness
    .speakerl
    %canvas#pulsel
    %canvas#rightway
    .speakerr
    %canvas#pulser
    %canvas#wrongway
    .wrongwaygradient

  %button#start{:onclick => "startRecording(this);"} Record
  %button#stop{:onclick => "stopRecording(this); disabled"} Stop
  %h3.section_title Your Recordings
  %ul#recordslist
  #uploads

#trackupload
:javascript
  recordTrack("#{@beat.beat.url}", "#{@beat.id}", "#{@beat.name}");

