%canvas#rightway
%canvas#wrongway
%br/
%button#start{:onclick => "startRecording(this);"} record
%button#stop{:onclick => "stopRecording(this); disabled"} stop
%p Recordings
%ul#recordslist
#uploads

#trackupload
:javascript
  recordTrack("#{@beat.beat.url}", "#{@beat.id}", "#{@beat.name}");

