.wrap
  %h3.section_title Record a track

  %canvas#speakerl
  %canvas#rightway
  %canvas#speakerr
  %canvas#wrongway

  %button#start{:onclick => "startRecording(this);"} record
  %button#stop{:onclick => "stopRecording(this); disabled"} stop
  %h3.section_title Your Recordings
  %ul#recordslist
  #uploads

#trackupload
:javascript
  recordTrack("#{@beat.beat.url}", "#{@beat.id}", "#{@beat.name}");

