.push
.wrap
  %h3.section_title Record a track
  %p 1. Click allow to use your mic
  %p 2. Plug in headphones
  %p 3. Lay your lyrics over a beat
  %br

  .theawesomeness
    .speakerl
    %canvas#pulsel
    %canvas#rightway
    .speakerr
    %canvas#pulser
    %canvas#wrongway
    .wrongwaygradient

  .controls
    %button#start.button_purple{:onclick => "startRecording(this);"} Record
    %button#stop.button_purple{:onclick => "stopRecording(this); disabled"} Stop
    %button#crazy.button_purple{:onclick => "distortMe(this);"} Distort

  %h3.section_title Your Recordings
  %ul#recordslist
  #uploads

#trackupload

.wrap
  #overlay_wrap
    #overlay

:javascript
  $('#overlay_wrap').hide();
  recordTrack("#{@beat.beat.url}", "#{@beat.id}", "#{@beat.name}");
