%canvas#rightway
%canvas#wrongway
%br/
%button{:onclick => "startRecording(this);"} record
%button{:onclick => "stopRecording(this); disabled"} stop
%p Recordings
%ul#recordslist

:javascript
  recordTrack("#{@beat.beat.url}");

