.push
.wrap
  %h3.section_title=@track.name
  %p.track_author
    =link_to "by #{@track.user.username}", mc_path(@track.user)

  .theawesomeness
    .speakerl
    %canvas#pulsel
    %canvas#rightway
    .speakerr
    %canvas#pulser
    %canvas#wrongway
    .wrongwaygradient

  .controls
    %button#start{:onclick => "startPlaying(this);"} Play
    %button#stop{:onclick => "stopPlaying(this); disabled"} Stop

  %a.track_share{:href => "#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626, height=436'); return false;"}
    Share on Facebook
  %a.track_share{:href => "https://twitter.com/share"}
    Share on Twitter

:javascript
  playTrack("#{@track.track}");
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
