.wrap
  %h3.section_title=@track.name
  %p
    =link_to "by #{@track.user.username}", mc_path(@track.user)

  .theawesomeness
    .speakerl
    %canvas#pulsel
    %canvas#rightway
    .speakerr
    %canvas#pulser
    %canvas#wrongway
    .wrongwaygradient

  %button#start{:onclick => "startPlaying(this);"} play
  %button#stop{:onclick => "stopPlaying(this); disabled"} stop

:javascript
  playTrack("#{@track.track}");
