%ul.tracks
  - beats.each do |beat|
    %li.track_row
      .wrap
        %ul
          %li.admin_track_count 0 records
          %li.admin_track_title= beat.name
          %li.admin_track_category= beat.genre
          %li.admin_track_price= "$#{beat.price}"
          %li=link_to '', beat.beat.url, class: 'button_small track_preview'
          %li=link_to 'Edit', edit_admin_beat_path(beat), class: 'button_big admin_track_edit'
