%ul.tracks

  -beats.each do |beat|
    %li.track_row
      .wrap
        %ul.admin_track_list_items
          %li 0 records
          %li= beat.name
          %li= beat.genre
          %li
            - if beat.price == 0.0
              Free
            - else
              $#{beat.price}
          %li=link_to '', beat.beat.url, class: 'button_play track_preview'
          %li=link_to 'Edit', edit_admin_beat_path(beat), class: 'button_big'
          - if beat.state == 'pending'
            %li=link_to 'Approve', approve_admin_beat_path(beat), class: 'button_big button_green'
            %li=link_to 'Reject', reject_admin_beat_path(beat), class: 'button_big button_red'
          - elsif beat.state == 'approved'
            %li=link_to 'Reset', reset_admin_beat_path(beat), class: 'button_big button_yellow'
            %li=link_to 'Reject', reject_admin_beat_path(beat), class: 'button_big button_red'
          -elsif beat.state == 'rejected'
            %li=link_to 'Approve', approve_admin_beat_path(beat), class: 'button_big button_green'
            %li=link_to 'Reset', reset_admin_beat_path(beat), class: 'button_big button_yellow'
