=simple_form_for [:admin, @beat] do |f|
  =f.input :name
  =f.input :price, collection: Beat::PRICE, include_blank: false
  =f.input :genre, collection: Beat::GENRE, include_blank: false
  =f.submit 'Update'
