.banner_image

.edgetop
  .wrap
    %h3.section_title Pending beats
  = render 'admin_track_row', :beats => @pending_beats

.edge

.wrap
  %h3.section_title Approved beats
= render 'admin_track_row', :beats => @approved_beats

.wrap
  %h3.section_title Rejected beats
= render 'admin_track_row', :beats => @rejected_beats

.wrap
  = link_to 'Add a new beat', new_admin_beat_path, :class => 'button_purple button_add_beat button'
