@import load

.overlay_wrap
  margin-left: 25%
  width: 128px
  position: fixed
  top: 5em
  background-color: $white
  +border-radius(4px)
  padding: 2em
  z-index: 5

#overlay
  height: 15px
  width: 127px
  background-image: url('/assets/load.gif')
