@import load

#speakerl, #speakerr
  width: 150px
  height: 300px

#speakerl, #rightway
  float: left

#wrongway
  margin-left: 150px

#speakerl
  background-image: url('/assets/speakerl.svg')

#speakerr
  background-image: url('/assets/speakerr.svg')
