@import "load"

.theawesomeness
  position: relative
  height: 450px

.speakerl, .speakerr
  width: 150px
  height: 300px
  position: relative
  z-index: 5

.speakerl
  background-image: url('/assets/speakerl.svg')
  float: left

.speakerr
  background-image: url('/assets/speakerr.svg')
  float: right

#pulsel, #pulser
  position: absolute

#pulsel
  left: -8px

#pulser
  right: -5px

#rightway
  float: left

#wrongway
  margin:
    top: 5px
    left: 150px

.wrongwaygradient
  position: relative
  width: 100%
  height: 100px
  margin-top: -100px
  +background-image(linear-gradient(rgba($black, 0), rgba($black, 1)))
