%ul.tracks
  - beats.each do |beat|
    %li.track_row
      .wrap
        %p.track_title= beat.name
        %p.track_category= beat.genre
        =link_to '', beat.beat.url, class: 'track_preview'
        =link_to 'Record', '#', class: 'track_record'
