%ul.tracks
  - beats.each do |beat|
    %li.track_row
      .wrap
        %ul
          %li.track_title= beat.name
          %li.track_category= beat.genre
          %li=link_to '', beat.beat.url, class: 'button_small track_preview'
          %li=link_to 'Record', new_track_path, class: 'button_big track_record'
