%ul.tracks
  - beats.each do |beat|
    %li.track_row
      .wrap
        %ul.track_list_items
          %li= beat.name
          %li= beat.genre
          %li=link_to '', beat.beat.url, class: 'track_preview'
          %li=link_to 'Record', new_track_path(:beat_id => beat.id), class: 'button_big track_record'
