%h1 Beats

%ul.tracks
  %li.track_row
    .wrap
    - @beats.each do |beat|
      %p.track_title= beat.name
      %p.track_category= beat.genre
      .track_preview
        =link_to '', beat.beat.url



=link_to 'Add beats', new_beat_path
