.edgetop
  .wrap
    %h3.section_title Free beats
  = render 'beats/track_row', :beats => @free_beats

.edge

.wrap
  %h3.section_title Premium beats
  %p Coming soon!
= # render 'beats/track_row', :beats => @premium_beats
