.banner_image
  .wrap
    // %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our beats below!
  %p.class= notice
  %p.class= alert

.top
  .wrap
    %h3.section_title Free beats
  = render 'beats/track_row', :beats => @free_beats

.edge

.wrap
  %h3.section_title Premium beats
  %p Coming soon!
= # render 'beats/track_row', :beats => @premium_beats
