.free
  .wrap
    %h3.section_title Free beats
  = render 'beats/track_row', :beats => @free_beats

.edge

.wrap
  %h3.section_title Premium beats
= render 'beats/track_row', :beats => @premium_beats

.wrap
  - if user_signed_in?
    = link_to 'Add a new beat', new_beat_path, :class => 'button'

