.banner_image
  .wrap
    // %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our beats below!
  %p.class= notice
  %p.class= alert
.free
  .wrap
    %h3.section_title Free beats
  %ul.tracks
    %li.track_row
      .wrap
        %p.track_title Poetic Justice
        %p.track_category 8-bit
        %a.track_preview{:href => "/assets/raproulette1.wav"}
        %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Download
    %li.track_row
      .wrap
        %p.track_title Good Kid
        %p.track_category Old School
        %a.track_preview{:href => "/assets/raproulette2.wav"}
        %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Download
    %li.track_row
      .wrap
        %p.track_title Real
        %p.track_category Weird
        %a.track_preview{:href => "/assets/raproulette3.wav"}
        %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Download
    %li.track_row
      .wrap
        %p.track_title Compton
        %p.track_category Reggae
        %a.track_preview{:href => "/assets/raproulette4.wav"}
        %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Download
    %li.track_row
      .wrap
        %p.track_title The Recipe
        %p.track_category Pop
        %a.track_preview{:href => "/assets/raproulette5.wav"}
        %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Download
.edge

.wrap
  %h3.section_title Premium beats (99&cent; each)
  %input.search{:value => 'Search by title or category'}
%ul.tracks
  %li.track_row
    .wrap
      %p.track_title Poetic Justice
      %p.track_category 8-bit
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Good Kid
      %p.track_category Old School
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Real
      %p.track_category Weird
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Compton
      %p.track_category Reggae
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title The Recipe
      %p.track_category Pop
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Money Trees
      %p.track_category Jazzy
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Poetic Justice
      %p.track_category 8-bit
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Good Kid
      %p.track_category Old School
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Real
      %p.track_category Weird
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Compton
      %p.track_category Reggae
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title The Recipe
      %p.track_category Pop
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Money Trees
      %p.track_category Jazzy
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Poetic Justice
      %p.track_category 8-bit
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Good Kid
      %p.track_category Old School
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Real
      %p.track_category Weird
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Compton
      %p.track_category Reggae
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title The Recipe
      %p.track_category Pop
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
  %li.track_row
    .wrap
      %p.track_title Money Trees
      %p.track_category Jazzy
      %a.track_preview{:href => '#'}
      %a.track_download{:href => '/assets/raproulette1.wav', :download => 'Track1.wav'} Buy
