@import compass/reset
@import load

body
  line-height: 1.5
  background-color: $black

a, h1, h2, p, input, span, label, textarea, li, button
  font:
    family: 'Montserrat', sans-serif
    size: 1em

a
  text-decoration: none
  color: $white

p, input, label
  color: $purple

.wrap
  max-width: 860px
  @media (max-width: 320px)
    margin:
      right: 1em
      left: 1em
  @media (min-width: 320px)
    margin:
      right: 5%
      left: 5%
